
<app-nav *ngIf="showNav"></app-nav>
<div class="main-banner">
  <div class="container">
    <form id="search-form">
      <h3 class="mt-5" style="text-align: center; margin-top: 0.4rem">
        Welcome <span *ngIf="auth.user$ | async as user">{{ user.given_name }}</span> to <br> Event Management Portal
      </h3>
      <div class="align-items-center">
        <div class="row justify-content-center">
          <div class="ml-6 col-sm-6 col-lg-6 mb-5">
            <label for="keyword"></label>
            <div class="input-group justify-content-center">
              <input
                type="text"
                class="form-control"
                id="location"
                placeholder="Search for city or event name"
                #search (keyup)="getEventByLocationOrName(search?.value)"/>
              <button
                type="submit"
                class="btn btn-primary"
                id="search"
                (click)="getEventByLocationOrName(search?.value)" >
                Search
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
 </div>

<div class="container pt-4" [class.border]="isShow">
    <app-event-list [eventList]="events"></app-event-list>
  </div>


 