i{
    font-size: 1.2rem;
    cursor: pointer;
}
.custom-dialog-container .mat-dialog-container {
    height: 100vh !important;
 }
 ::ng-deep .my-custom-dialog-class {
    mat-dialog-container {
        height: 100vh !important;
    }
  }

  .btn{
    background: #f05538;
    border: none;
    color:white;
}