<div class="card-deck">
    <div class="card">
      <img class="card-img-top" style=" height: 160px;" src="https://s3-images-web-ca2.s3.eu-west-1.amazonaws.com/{{event?.urlImg}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ event?.name }}</h5>
        <p class="card-text"> {{event?.eventDateStarts | date }} at {{event?.eventDateStarts |date:'shortTime'}}</p>
        <p class="card-text text-muted"> {{event?.address?.line1}},{{event?.address?.city}}</p>    
        <p class="card-text text-muted">Starts at {{event?.startsPrice | currency:'EUR':true}}</p>    
      </div>
      <div class="card-footer">
       <div class="row">
          <div class="col-3">
          </div>
          <a class="btn btn-secondary d-flex justify-content-center col-6"  [routerLink]="['/events', event?._id]">See Event</a>
          <div class="col-3">
          </div>
       </div>
      </div>
    </div>
  </div>